[submodule "Algoritmos e Estrutura de Dados I/PeTI"]
	path = Algoritmos e Estrutura de Dados I/PeTI
	url = https://github.com/KassiaMabily/PeTI.git
[submodule "Gestão de Processos e Negócios/Quizzed"]
	path = Gestão de Processos e Negócios/Quizzed
	url = https://github.com/KassiaMabily/Quizzed.git
