[submodule "Gestão de Processos e Negócios/Quizzed"]
	path = Gestão de Processos e Negócios/Quizzed
	url = https://github.com/KassiaMabily/Quizzed.git
[submodule "Algoritmos e Estrutura de Dados I/PeTI"]
	path = Algoritmos e Estrutura de Dados I/PeTI
	url = https://github.com/KassiaMabily/PeTI.git
[submodule "Algoritmos e Estrutura de Dados I/DoList"]
	path = Algoritmos e Estrutura de Dados I/DoList
	url = https://github.com/KassiaMabily/DoList.git
[submodule "3º Período/Tecnologia Web/SoulEdu-Site"]
	path = 3º Período/Tecnologia Web/SoulEdu-Site
	url = https://github.com/KassiaMabily/SoulEdu-Site.git
